*.tar
*.json
*.pyc
*.DS_Store
__pycache__/
.pytest_cache/
.mypy_cache/

checkpoints/
Experiments/
pretrain_zoo/
test_videos/

*.pth
*.pt
*.ckpt
*.wav
*.mp4
*.npz

data_preprocess/LRS2/
data_preprocess/LRS3/
data_preprocess/Vox2/

docs/*.pdf
